__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db
*.log
*.bak
*.swp
*.swo
.DS_Store
.vscode/
nv/
models/food_ner/vocab/
models/food_ner/tokenizer/
models/food_ner/ner/
models/food_ner/*.tmp
data/*.tmp
*.egg-info/
dist/
build/
.cache/
.idea/